@import url(../fonts/YuGothic/stylesheet.css);
@import url(../fonts/icomoon/style.css);
@import url(../libs/bootstrap/css/bootstrap.css);
.-color-primary {
  color: #fc8800; }

ol, ul, dl {
  padding: 0; }

body {
  font-family: 'YuGothic';
  color: #666666;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  position: relative;
  background: #F9F9F9;
  --menu-left: 260px;
  --menu-mb: 87px; }
  body.-bg-white {
    background: #fff; }

a, a:hover {
  color: #4D4D4D;
  text-decoration: none; }

p {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: normal; }

ol, ul {
  list-style: none;
  margin-bottom: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto; }

a {
  outline: none; }

strong {
  font-weight: 700; }

hr {
  margin: 25px 0;
  opacity: 1;
  background-color: #CCCCCC; }

label {
  cursor: pointer; }

.icon-dots {
  background: url(../img/3dots.svg) no-repeat;
  background-size: contain;
  background-position: center; }
  .icon-dots:before {
    display: none; }

.checkbox__fake {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.checkbox__fake input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #CCCCCC;
  border-radius: 4px; }

.checkbox__fake input:checked ~ .checkmark {
  background-color: #666666; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.checkbox__fake input:checked ~ .checkmark:after {
  display: block; }

.checkbox__fake .checkmark:after {
  left: 5px;
  top: 3px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 1px; }

.-letter-1 {
  letter-spacing: 1px; }

.-letter-2 {
  letter-spacing: 2px; }

.rotate-180 {
  transform: rotate(180deg); }

/**/
.videoWrapper {
  position: relative;
  padding-top: 56.25%;
  /* 16:9 */
  height: 0; }

.videoWrapper iframe, .videoWrapper object, .videoWrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/**/
.dnfix__thumb {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  display: block;
  padding-top: 68.075%; }
  .dnfix__thumb img {
    margin: 0px auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover; }
  .dnfix__thumb.-contain img {
    object-fit: contain; }
  .dnfix__thumb.-pt100 {
    padding-top: 100%; }

/* Text truncate */
.text__truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.text__truncate.-n2 {
  -webkit-line-clamp: 2; }

.text__truncate.-n3 {
  -webkit-line-clamp: 3; }

.text__truncate.-n4 {
  -webkit-line-clamp: 4; }

/**/
.btn {
  position: relative;
  min-width: 190px;
  background: #FC8800;
  border-radius: 8px;
  border: 0;
  line-height: 24px;
  padding: 17px 30px;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 2px;
  transition: all .3s;
  border: 1px solid #fc8800; }
  .btn:focus {
    box-shadow: none; }
  .btn:hover {
    color: #ffffff;
    box-shadow: 0 0 10px #fff;
    background: #51A1B9;
    border-color: #51A1B9; }
  .btn.-arrow-right::after {
    content: "\e900";
    font-family: 'icomoon';
    position: absolute;
    top: 17px;
    right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6px;
    font-weight: 400;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fff;
    color: #fc8800;
    text-align: center;
    line-height: 22px;
    text-indent: 3px; }
  .btn.-arrow-right:hover::after {
    color: #51A1B9; }
  .btn.-plus {
    min-width: 300px; }
    .btn.-plus::after {
      content: "\e911";
      font-family: 'icomoon';
      display: inline-block;
      font-size: 6px;
      font-weight: 400;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: #fff;
      color: #fc8800;
      position: absolute;
      top: calc(50% - 12px);
      right: 18px;
      text-align: center;
      line-height: 25px;
      text-indent: 2px; }
    .btn.-plus:hover::after {
      color: #0c4264; }
  .btn.-secondary {
    min-width: 300px;
    font-weight: 500;
    border: 1px solid #fc8800;
    background: transparent;
    color: #fc8800; }
    .btn.-secondary:hover {
      background: #fc8800;
      color: #fff; }
  .btn.-s2 {
    font-size: 12px;
    font-weight: 700;
    padding: 11px 20px 11px 40px;
    min-width: 200px;
    border: 1px solid transparent;
    background: transparent;
    color: #51A1B9;
    border-radius: 24px;
    box-shadow: 0 0 12px rgba(69, 76, 85, 0.16); }
    .btn.-s2 i {
      position: absolute;
      margin-top: 2px;
      left: 17px;
      font-size: 18px;
      color: #fc8800; }
    .btn.-s2:hover {
      background: #fc8800;
      color: #fff; }
      .btn.-s2:hover i {
        color: #fff; }
    .btn.-s2.-modal {
      color: #666; }
      .btn.-s2.-modal::before {
        content: "\e900";
        font-family: 'icomoon';
        position: absolute;
        left: 15px;
        font-size: 6px;
        color: #fc8800; }
      .btn.-s2.-modal:hover {
        color: #fff; }
        .btn.-s2.-modal:hover::before {
          color: #fff; }
  @media (max-width: 575px) {
    .btn {
      min-width: 100%;
      padding: 16px 30px; }
      .btn.-plus, .btn.-secondary {
        min-width: 100%;
        font-size: 14px; }
      .btn.-plus::after {
        right: 15px; }
      .btn.-s2 {
        width: 100%; }
        .btn.-s2.-modal {
          width: 200px;
          height: 54px; } }

.vr {
  height: 36px;
  margin: 0 15px; }

.w100 {
  width: 100%; }

.mw70px {
  width: 100%;
  max-width: 70px; }

.mw90px {
  width: 100%;
  max-width: 90px; }

.mw100px {
  width: 100%;
  max-width: 100px; }

.mw170px {
  width: 100%;
  max-width: 170px; }

.minw100px {
  min-width: 100px; }

.minw170px {
  min-width: 170px; }

.w120px {
  flex: 0 0 auto;
  width: 120px; }

.w280px {
  flex: 0 0 auto;
  width: 280px; }

.col-20 {
  flex: 0 0 auto;
  width: 20%; }

@media (max-width: 1199px) {
  body {
    --header-height: 60px; } }
@media (max-width: 575px) {
  .w120px {
    flex: 0 0 auto;
    width: auto; }

  .w280px {
    flex: 0 0 auto;
    width: auto; } }
.container {
  padding-right: var(--bs-gutter-x, 35px);
  padding-left: var(--bs-gutter-x, 35px); }

@media (min-width: 576px) {
  .col-sm-20 {
    flex: 0 0 auto;
    width: 20%; }

  .col-sm-80 {
    flex: 0 0 auto;
    width: 80%; } }
@media (min-width: 768px) {
  .col-md-20 {
    flex: 0 0 auto;
    width: 20%; }

  .col-md-80 {
    flex: 0 0 auto;
    width: 80%; } }
@media (min-width: 992px) {
  .col-lg-20 {
    flex: 0 0 auto;
    width: 20%; }

  .col-lg-80 {
    flex: 0 0 auto;
    width: 80%; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1194px; }

  .modal-lg, .modal-xl {
    max-width: 960px; } }
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 32px 0;
  background: transparent;
  transition: all .5s; }
  .header.is-sticky, .header.-menu-mb-active {
    padding: 12px 0;
    background: #247EAA;
    box-shadow: 0 0 4px #227494; }
  .header__btn {
    font-weight: 900;
    font-size: 13px;
    line-height: 14px;
    border: 1px solid #FFFFFF;
    color: #fff;
    padding: 12px 30px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: all .5s; }
    .header__btn:not(:last-child) {
      margin-right: 20px; }
    .header__btn:hover {
      color: #fff;
      box-shadow: 0 0 12px #fff; }
  .header .logo {
    padding: 0;
    margin-bottom: 0; }
    .header .logo a {
      display: flex;
      align-items: center;
      justify-content: center; }
    .header .logo img {
      max-height: 64px; }
  .header__mb {
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px; }
    .header__mb__logout {
      font-size: 10px;
      text-align: center; }
      .header__mb__logout i {
        display: block;
        font-size: 25px;
        margin-bottom: 5px; }
    .header__mb__logo img {
      width: auto;
      max-height: 30px; }
    .header__mb__avatar img {
      width: 36px;
      height: 36px; }
  @media (max-width: 1399px) {
    .header__btn:not(:last-child) {
      margin-right: 10px; } }
  @media (max-width: 1199px) {
    .header {
      top: 0;
      padding: 14px 0; }
      .header .logo img {
        max-height: 32px; }
      .header__group {
        margin-left: auto;
        margin-right: 30px; }
      .header__btn {
        padding: 8px 20px; } }
  @media (max-width: 991px) {
    .header.is-sticky, .header.-menu-mb-active {
      padding: 14px 0; }
    .header__btn {
      flex: 0 0 auto;
      flex-grow: 1;
      text-align: center; } }
  @media (min-width: 1200px) {
    .header__mb {
      display: none; } }

@keyframes stuckMoveDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
/*
======================================
[ Main menu ]
======================================
*/
.main__nav {
  position: relative;
  z-index: 99; }
  .main__nav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .main__nav a {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    padding: 4px 60px;
    text-transform: uppercase;
    color: #666666;
    letter-spacing: 1px;
    transition: color 0.3s; }
  .main__nav i {
    width: 20px;
    font-weight: 400;
    margin-right: 20px; }
  .main__nav .el__menu {
    padding: 0; }
    .main__nav .el__menu > li {
      display: block;
      margin-bottom: 45px; }
      .main__nav .el__menu > li > a::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 30px;
        background: #fc8800;
        opacity: 0;
        transition: all .5s; }
    .main__nav .el__menu > li:hover a, .main__nav .el__menu > li.active a {
      color: #fc8800; }
    .main__nav .el__menu > li.active a {
      font-weight: 700; }
    .main__nav .el__menu > li:hover > a:after, .main__nav .el__menu > li.active > a:after {
      opacity: 1; }
  @media (max-width: 1199px) {
    .main__nav .el__menu > li {
      display: block;
      margin-bottom: 30px; } }

/*Menu MB*/
.nav__mobile {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 998; }
  .nav__mobile--ul {
    display: flex;
    justify-content: space-around;
    list-style: none; }
    .nav__mobile--ul li {
      position: relative; }
      .nav__mobile--ul li a {
        display: block;
        position: relative;
        font-size: 10px;
        line-height: normal;
        text-transform: uppercase;
        color: #666666;
        padding: 20px 16px;
        text-align: center;
        transition: all .3s; }
        .nav__mobile--ul li a i {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 24px;
          font-size: 24px;
          margin-bottom: 8px;
          font-weight: 400; }
          .nav__mobile--ul li a i.icon-dots {
            font-size: 6px; }
        .nav__mobile--ul li a:hover {
          color: #fc8800; }
      .nav__mobile--ul li.active > a, .nav__mobile--ul li.current-menu-item > a, .nav__mobile--ul li.current_page_item > a, .nav__mobile--ul li:hover > a {
        color: #fc8800; }
  @media (min-width: 1199px) {
    .nav__mobile {
      display: none; } }

.el__input {
  font-size: 12px;
  padding: 7px 10px;
  border-radius: 7px;
  border: 1px solid #CCCCCC; }
  .el__input.-small {
    padding: 4px 10px; }

/*Menu Left*/
.menuLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--menu-left);
  background: #fff;
  box-shadow: 0 0 12px rgba(69, 76, 85, 0.16);
  border-radius: 0px 10px 10px 0; }
  .menuLeft__header {
    padding: 60px 60px 100px;
    text-align: center; }
  .menuLeft__avatar {
    width: 80px;
    padding-top: 80px;
    border-radius: 50%;
    margin: 0 auto 12px; }
  .menuLeft__username {
    font-size: 10px; }
  .menuLeft__footer {
    padding-bottom: 24px; }
  .menuLeft__logo {
    display: block;
    margin-bottom: 24px; }
    .menuLeft__logo img {
      width: auto;
      max-height: 70px; }
  @media (max-width: 1199px) {
    .menuLeft {
      display: none; } }

.sc__content {
  flex: 0 0 auto;
  margin-left: var(--menu-left);
  width: calc( 100% - var(--menu-left));
  padding: 57px 70px; }

.sc__box {
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(69, 76, 85, 0.16);
  margin-bottom: var(--bs-gutter-x); }
  .sc__box.-table-home .sc__box__content {
    padding: 34px 30px; }
  .sc__box__header {
    padding: 30px 36px; }
  .sc__box__title {
    margin-bottom: 0; }
    .sc__box__title i {
      margin-right: 10px; }
  .sc__box__content {
    padding: 30px; }
    .sc__box__content h6 {
      font-size: 18px;
      margin-bottom: 0; }
  .sc__box__icon {
    width: 82px;
    height: 82px;
    line-height: 90px;
    margin: 0 auto 22px;
    background: #F1F1F1;
    border-radius: 50%;
    font-size: 37px;
    text-align: center; }
  .sc__box.-userinfo {
    font-size: 12px; }
    .sc__box.-userinfo .el__header {
      margin-bottom: 26px; }
    .sc__box.-userinfo .sc__box__content {
      padding: 50px 50px 26px; }
    .sc__box.-userinfo a {
      color: #51A1B9;
      text-decoration: underline; }
    .sc__box.-userinfo li {
      padding: 24px 0;
      align-items: center; }
      .sc__box.-userinfo li:not(:last-child) {
        border-bottom: 1px solid #DDDDDD; }
      .sc__box.-userinfo li.-avatar {
        padding: 8px 0; }
    .sc__box.-userinfo .sc__box__avatar img {
      width: 48px;
      height: 48px; }
    .sc__box.-userinfo .table {
      font-size: 10px; }
      .sc__box.-userinfo .table thead {
        background-color: #F9F9F9; }
        .sc__box.-userinfo .table thead th {
          padding: 8px 16px;
          border: 0;
          color: #666666; }
      .sc__box.-userinfo .table > thead .sorting:before, .sc__box.-userinfo .table > thead .sorting:after {
        display: none; }
      .sc__box.-userinfo .table > :not(caption) > * > * {
        padding: 15px 5px; }
    .sc__box.-userinfo .form-check-input {
      margin-left: 0;
      width: 40px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28102, 102, 102, 1%29'/%3e%3c/svg%3e"); }
      .sc__box.-userinfo .form-check-input:checked {
        background-color: #fc8800;
        border-color: #fc8800;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e"); }
  .sc__box.-list {
    padding-bottom: 30px; }
    .sc__box.-list .table-wrapper {
      height: 430px;
      overflow-y: auto;
      overflow-x: hidden; }
      .sc__box.-list .table-wrapper::-webkit-scrollbar {
        width: 4px; }
      .sc__box.-list .table-wrapper::-webkit-scrollbar-track {
        background: #f1f1f1; }
      .sc__box.-list .table-wrapper::-webkit-scrollbar-thumb {
        background: #fc8800; }
      .sc__box.-list .table-wrapper::-webkit-scrollbar-thumb:hover {
        background: #555; }
    .sc__box.-list .dataTables_wrapper .row {
      --bs-gutter-x: 0; }
    .sc__box.-list .table {
      margin-bottom: 0;
      color: #666666; }
      .sc__box.-list .table > :not(caption) > * > * {
        padding: 14px 10px;
        font-weight: 400;
        color: #666666; }
      .sc__box.-list .table .sorting:before, .sc__box.-list .table .sorting:after {
        display: none; }
      .sc__box.-list .table th {
        border-top: 1px solid #CCCCCC; }
      .sc__box.-list .table input[type=checkbox] {
        font-size: 14px;
        margin-top: 0; }
      .sc__box.-list .table th {
        border-color: #CCCCCC;
        font-size: 10px;
        color: #666666;
        font-weight: 500; }
        .sc__box.-list .table th:first-child {
          padding-left: 30px; }
      .sc__box.-list .table td:first-child {
        padding-left: 30px; }
      .sc__box.-list .table td:last-child {
        padding-right: 100px; }

table.dataTable thead th {
  background: transparent !important;
  white-space: nowrap; }
table.dataTable thead span.sort-icon {
  position: relative;
  display: inline-block;
  padding-left: 9px;
  width: 16px;
  height: 20px;
  line-height: 17px; }
table.dataTable thead .sorting span:before, table.dataTable thead .sorting span:after {
  content: "\e919";
  font-family: 'icomoon';
  position: absolute;
  top: -2px;
  font-size: 4px;
  font-weight: 400; }
table.dataTable thead .sorting span:after {
  content: "\e918";
  top: 4px; }
table.dataTable thead .sorting_desc span:after {
  top: 2px; }
table.dataTable thead .sorting_asc span::before {
  top: 0; }
table.dataTable thead .sorting_asc span:after, table.dataTable thead .sorting_desc span:before {
  opacity: 0; }
table.dataTable thead .sorting_asc_disabled span:before, table.dataTable thead .sorting_desc_disabled span:after {
  opacity: 0; }

.table {
  --bs-table-striped-bg: #F9F9F9;
  margin: 0; }
  .table > :not(caption) > * > * {
    padding: 15px 30px; }
  .table.dataTable {
    margin: 0 !important; }
  .table.-fixedHeader > thead {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1; }
  .table.table-striped {
    border-color: transparent; }
  .table td {
    vertical-align: middle; }
  .table .el__cat {
    display: inline-block;
    min-height: 24px;
    padding: 0px 18px;
    font-size: 14px;
    border: 1px solid #fc8800;
    border-radius: 13px;
    color: #fc8800;
    transition: all .5s; }
    .table .el__cat:hover {
      background: #fc8800;
      color: #fff; }
  .table.-home td:first-child {
    width: 110px; }
  .table.-st2 {
    font-size: 12px;
    border-radius: 7px;
    border: 1px solid #CCCCCC; }
    .table.-st2 > :not(:last-child) > :last-child > * {
      border-bottom-color: #ccc; }
    .table.-st2 thead {
      font-size: 10px;
      background: #F9F9F9; }

.box__toggle {
  font-size: 12px;
  font-weight: 500;
  color: #666666; }
  .box__toggle.active i {
    transform: rotate(180deg); }
  .box__toggle__header {
    cursor: pointer;
    font-weight: 500;
    border-bottom: 2px solid #707070; }
    .box__toggle__header > div {
      padding: 15px 2px; }
    .box__toggle__header i {
      position: relative;
      top: -2px;
      font-size: 5px;
      font-weight: 400;
      transition: all .5s; }
  .box__toggle li {
    padding: 15px 2px;
    border-bottom: 1px solid #CCCCCC; }

.table__fake {
  border: 1px solid #cccc;
  border-radius: 7px;
  min-height: 175px;
  overflow: hidden; }
  .table__fake__header {
    padding: 0 25px;
    font-size: 10px;
    background: #F9F9F9; }
  .table__fake__content {
    padding: 0 25px; }
  .table__fake__th {
    padding: 14px 0; }
  .table__fake__tr {
    padding: 14px 0;
    border-bottom: 1px solid #ccc; }
  .table__fake.-modal {
    min-height: 265px;
    font-size: 12px; }
    .table__fake.-modal .table__fake__header {
      border-bottom: 1px solid #CCCCCC; }
    .table__fake.-modal .table__fake__header, .table__fake.-modal .table__fake__content {
      padding: 0; }
    .table__fake.-modal .table__fake__td {
      padding: 0 15px; }
    .table__fake.-modal .checkbox__fake {
      height: 20px;
      padding-left: 35px; }
    .table__fake.-modal .checkbox__fake .checkmark::after {
      left: 7px;
      top: 2px;
      width: 6px;
      height: 12px; }
    .table__fake.-modal .checkmark {
      height: 20px;
      width: 20px; }

.modal-s1 .modal-dialog {
  padding-bottom: 80px; }
.modal-s1 .modal-content {
  border-radius: 8px; }
.modal-s1 .modal-header {
  padding: 27px 35px; }
.modal-s1 .modal-body {
  padding: 45px 35px; }
  .modal-s1 .modal-body .-col-left {
    border-right: 1px solid #F1F1F1; }
.modal-s1 .btn-close.-fix {
  position: absolute;
  bottom: -70px;
  left: -80px;
  background: transparent;
  min-width: 60px;
  background: #FFFFFF;
  z-index: 998;
  color: #000;
  opacity: 1;
  border-radius: 32px;
  padding: 0;
  font-size: 10px;
  font-weight: 700;
  height: 32px; }
  .modal-s1 .btn-close.-fix::before {
    content: "\e900";
    font-family: icomoon;
    font-size: 5px;
    font-weight: 400;
    position: absolute;
    top: -2px;
    left: 10px;
    transform: rotate(180deg);
    line-height: 32px; }

.modal__picture {
  position: relative;
  padding-top: 85%;
  border-radius: 7px;
  overflow: hidden;
  font-size: 12px; }
  .modal__picture__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }

.block__action {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  text-align: center; }
  .block__action li:not(:last-child) {
    margin-right: 30px; }
  .block__action li a {
    transition: all .5s; }
  .block__action li:hover a {
    color: #fc8800; }
  .block__action li:hover i {
    transform: translateY(-8px); }
  .block__action i {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 500;
    color: #fc8800;
    margin-bottom: 6px;
    box-shadow: 0 0 12px rgba(69, 76, 85, 0.16);
    transition: all .5s; }

.block__bukkenfix {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  z-index: 10; }
  .block__bukkenfix li:not(:last-child) {
    margin-right: 30px; }
  .block__bukkenfix li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 10px;
    background-color: #fc8800;
    color: #fff;
    transition: all .5s;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(69, 76, 85, 0.16); }
  .block__bukkenfix li:hover a {
    transform: translateY(-8px);
    color: #fff; }
  .block__bukkenfix i {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 6px; }

.mb__bukkenfix {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 998;
  border-radius: 10px;
  overflow: hidden; }
  .mb__bukkenfix a, .mb__bukkenfix button {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    display: block;
    width: 100%;
    padding: 25px 34px;
    text-align: center;
    border: 0;
    background-color: #fff; }
  .mb__bukkenfix i {
    position: absolute;
    left: 25px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center; }
  .mb__bukkenfix .-right a, .mb__bukkenfix .-right button {
    background-color: #fc8800;
    color: #fff; }

/**/
.accordion hr {
  background-color: #F1F1F1; }
.accordion-body {
  padding: 1rem 1.25rem;
  padding: 22px 28px 60px; }
.accordion-item:first-of-type {
  border-width: 1px 0;
  border-radius: 0;
  border-color: #F1F1F1; }
.accordion-button {
  background-color: #FFF9EF;
  color: #666666;
  font-size: 18px;
  font-weight: 500;
  padding: 28px 50px;
  box-shadow: inset 0 -1px 0 #F1F1F1; }
  .accordion-button::after {
    content: "\e905";
    font-family: 'icomoon';
    font-size: 10px;
    line-height: 20px;
    color: #fc8800;
    background: none; }
  .accordion-button::before {
    content: "";
    width: 2px;
    height: 24px;
    background: #fc8800;
    position: absolute;
    top: calc( 50% - 12px );
    left: 28px; }
  .accordion-button:not(.collapsed) {
    background-color: #FFF9EF;
    color: #666666; }
    .accordion-button:not(.collapsed)::after {
      background: none; }
.accordion .el__label {
  margin-top: 12px; }
.accordion .m2__line {
  padding-bottom: 5px;
  border-bottom: 2px solid #707070; }
  .accordion .m2__line__amount {
    font-weight: 700;
    margin-right: 2px; }
.accordion select {
  display: inline-block;
  padding: 8px 40px 8px 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background: url(../img/arrow-updown.svg) no-repeat right white;
  background-position-x: calc( 100% - 10px ); }
.accordion .checkbox__list li:not(:last-child) {
  margin-right: 30px; }
.accordion .media__thumb .dnfix__thumb {
  padding-top: 73.075%; }
.accordion .clone__wrap__scroll {
  max-height: 340px;
  overflow: auto; }
  .accordion .clone__wrap__scroll::-webkit-scrollbar {
    width: 4px; }
  .accordion .clone__wrap__scroll::-webkit-scrollbar-track {
    background: #EFEFEF; }
  .accordion .clone__wrap__scroll::-webkit-scrollbar-thumb {
    background: #FC8800; }
  .accordion .clone__wrap__scroll::-webkit-scrollbar-thumb:hover {
    background: #FC8800; }
.accordion .clone__wrap .el__clone {
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #F1F1F1; }
  .accordion .clone__wrap .el__clone:first-child {
    padding-top: 0; }
  .accordion .clone__wrap .el__clone--plus, .accordion .clone__wrap .el__clone--remove {
    min-width: 100px;
    padding: 7px 20px;
    border-radius: 7px;
    color: #fff;
    border: 0; }
  .accordion .clone__wrap .el__clone--plus {
    background-color: #FC8800; }
  .accordion .clone__wrap .el__clone--remove {
    background-color: #666666; }
.accordion .clone__wrap--plus {
  color: #51A1B9;
  text-decoration: underline; }
.accordion.-detail .el__label {
  margin-top: 0; }
.accordion.-detail .box__toggle__header {
  border-bottom: 1px solid #F1F1F1; }
.accordion.-detail .box__toggle li {
  border-bottom: 1px solid #F1F1F1; }

.steps ul {
  display: flex; }
.steps li {
  position: relative;
  min-width: 60px; }
  .steps li:not(:last-child) {
    margin-right: 40px; }
    .steps li:not(:last-child):after {
      content: '';
      position: absolute;
      top: 12px;
      left: calc( 50% + 18px);
      width: 100%;
      height: 2px;
      background: #DDDDDD; }
  .steps li.current a {
    color: #FC8800; }
    .steps li.current a .number {
      background: #FC8800;
      color: #fff; }
  .steps li.done .number {
    text-indent: -9999px;
    background: #fc8800; }
    .steps li.done .number:before {
      content: '';
      position: absolute;
      left: 11px;
      top: 6px;
      width: 6px;
      height: 12px;
      border: solid #ffffff;
      border-width: 0 2px 2px 0;
      transform: rotate(40deg);
      z-index: 2; }
.steps a {
  font-size: 10px;
  font-weight: 500; }
.steps .number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #F1F1F1;
  color: #CCCCCC;
  font-size: 14px;
  font-weight: 700;
  margin: 0 auto 6px; }
.steps .current-info {
  display: none; }

.b__map {
  position: relative; }
  .b__map__box {
    position: absolute;
    top: 20%;
    left: 20%;
    min-width: 190px;
    z-index: 1;
    background: #fff;
    border: 1px solid #F1F1F1;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 12px #454C55;
    font-size: 12px; }
    .b__map__box li {
      padding: 10px 14px; }
      .b__map__box li:nth-child(2n - 1) {
        background: #F1F0F1; }
  .b__map__search {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 1;
    min-width: 380px;
    border-radius: 30px;
    box-shadow: 0 0 12px rgba(69, 76, 85, 0.35); }
    .b__map__search:before {
      content: '';
      position: absolute;
      top: calc(100% - 1px);
      left: 0;
      right: 0;
      width: 12px;
      height: 12px;
      margin: auto;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid white; }
    .b__map__search input {
      height: 42px;
      border: 1px solid #F1F1F1;
      border-radius: 30px;
      font-size: 12px;
      color: #666666; }
  .b__map .btn.-plus {
    min-width: 140px;
    padding: 5px 20px; }
    .b__map .btn.-plus::after {
      width: 14px;
      height: 14px;
      top: calc(50% - 7px);
      right: 8px;
      line-height: 14px; }

@media (max-width: 1199px) {
  .sc__content {
    margin-left: 0;
    width: 100%;
    padding: 50px 30px var(--menu-mb); }

  .sc__box__content {
    padding: 30px 25px; }

  .block__action {
    padding-bottom: 30px; } }
@media (max-width: 991px) {
  .sc__box.-list .table th:nth-child(7), .sc__box.-list .table th:nth-child(8), .sc__box.-list .table th:nth-child(9), .sc__box.-list .table td:nth-child(7), .sc__box.-list .table td:nth-child(8), .sc__box.-list .table td:nth-child(9) {
    display: none; }
  .sc__box.-list .table td:last-child {
    padding-right: 10px; }

  .el__label {
    margin-bottom: 28px; }

  .accordion.-detail .el__label {
    margin-bottom: 0; } }
@media (max-width: 767px) {
  .sc__box.-list .table th:nth-child(5), .sc__box.-list .table th:nth-child(6), .sc__box.-list .table td:nth-child(5), .sc__box.-list .table td:nth-child(6) {
    display: none; }

  .el__input {
    width: 100%;
    height: 48px; }

  .accordion select {
    width: 100%;
    height: 48px; }
    .accordion select.mw170px {
      width: 100%;
      max-width: 100%; }
  .accordion .clone__wrap .el__clone {
    display: block; }
  .accordion .clone__wrap .el__clone--plus, .accordion .clone__wrap .el__clone--remove {
    width: 49%;
    height: 42px; }

  .modal-s1 .modal-header {
    padding: 20px 24px; }
  .modal-s1 .modal-title {
    font-size: 20px; }
  .modal-s1 .modal-body {
    padding: 20px 24px 40px; }

  .steps li:not(:last-child) {
    margin-right: 20px; } }
@media (max-width: 575px) {
  .sc__content {
    padding: 35px 30px var(--menu-mb); }

  .sc__box.-userinfo .sc__box__content {
    padding: 40px 35px 26px; }
  .sc__box.-userinfo .el__header {
    margin-bottom: 10px; }
  .sc__box.-userinfo .el__label {
    text-align: center;
    padding: 13px 15px;
    background-color: #F9F9F9;
    margin-bottom: 16px; }
  .sc__box.-userinfo li {
    padding: 16px 0; }
    .sc__box.-userinfo li:not(:last-child) {
      border-bottom: 0; }
  .sc__box.-list .sc__box__header {
    padding: 20px 14px; }
  .sc__box.-list .table th:first-child, .sc__box.-list .table td:first-child {
    padding-left: 14px; }
  .sc__box.-list .table > :not(caption) > * > * {
    padding: 14px 8px; }
  .sc__box__icon {
    width: 60px;
    height: 60px;
    line-height: 70px;
    font-size: 28px;
    margin: 0 auto 15px; }
  .sc__box__header {
    padding: 20px 28px; }
  .sc__box__content {
    padding: 30px 20px 20px; }
    .sc__box__content h6 {
      font-size: 18px; }

  .table {
    font-size: 12px; }
    .table.-home td:first-child {
      width: auto; }
    .table > :not(caption) > * > * {
      padding: 15px 10px; }
    .table .el__cat {
      display: inline-block;
      padding: 3px 10px;
      font-size: 12px; }

  .checkbox__fake {
    height: 26px;
    display: flex;
    align-items: center;
    padding-left: 40px; }
    .checkbox__fake .checkmark::after {
      left: 10px;
      top: 4px;
      width: 6px;
      height: 12px; }

  .checkmark {
    height: 26px;
    width: 26px; }

  .table__fake.-modal {
    min-height: 245px; }
  .table__fake .icon-trash {
    position: relative;
    top: -2px;
    font-size: 18px;
    font-weight: 400; }

  .accordion {
    font-size: 12px; }
    .accordion.-detail .el__label {
      background: #F1F0F1;
      padding: 12px;
      text-align: center;
      margin-bottom: 8px; }
    .accordion.-detail .el__value {
      text-align: center;
      margin-bottom: 24px; }
    .accordion.-detail ul.box__toggle__content {
      background: #F9F9F9;
      padding: 0 20px; }
    .accordion.-detail .box__toggle li:last-child {
      border-bottom: 0; }
    .accordion.-detail .clone__wrap__scroll {
      background: #F9F9F9;
      padding: 20px; }

  .el__input {
    width: 100%; }
    .el__input.mw70px {
      max-width: 100%; }
    .el__input.-small {
      max-width: 100%; }

  .modal-s1 .modal-dialog {
    max-width: 300px;
    margin: 50px auto; }

  .mb__bukkenfix i {
    left: 20px; } }
/*Custom boostrap*/
@media (max-width: 575px) {
  .input-group-lg > .form-control, .input-group-lg > .form-select, .input-group-lg > .input-group-text, .input-group-lg > .btn {
    padding: 0.3rem 1rem; } }
.login__page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  min-height: 100vh; }
  .login__page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/login-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    pointer-events: none; }
  .login__page .el__box.-register {
    font-size: 12px;
    font-weight: 500;
    padding: 20px 35px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(69, 76, 85, 0.16);
    text-align: center; }
    .login__page .el__box.-register a {
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      color: #fc8800; }
  .login__page .el__box.-suggest {
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px; }
    .login__page .el__box.-suggest .el__box__header {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      .login__page .el__box.-suggest .el__box__header::before, .login__page .el__box.-suggest .el__box__header::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 1px;
        background: #CCCCCC; }
    .login__page .el__box.-suggest .el__box__title {
      flex: 0 0 auto;
      padding: 0 10px;
      font-size: 13px;
      font-weight: 700; }
    .login__page .el__box.-suggest a {
      font-size: 14px;
      transition: all .5s; }
      .login__page .el__box.-suggest a i {
        position: relative;
        top: 1px;
        color: #fc8800; }
      .login__page .el__box.-suggest a:hover {
        color: #fc8800; }
.login__wrapper {
  width: 100%;
  max-width: 400px; }
.login__form {
  padding: 35px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(69, 76, 85, 0.16); }
  .login__form .-text {
    letter-spacing: 2px; }
  .login__form input::placeholder {
    color: #CCCCCC;
    font-size: 13px;
    font-weight: 700; }
  .login__form .-text-fpwd {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #51A1B9; }
.login__logo {
  display: block;
  text-align: center; }
  .login__logo img {
    width: auto;
    max-height: 85px; }
.login__nav.-fix {
  position: absolute;
  bottom: 20px;
  right: 50px; }
.login__nav ul {
  display: flex;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0; }
  .login__nav ul li {
    position: relative; }
    .login__nav ul li:not(:last-child) {
      padding-right: 10px; }
      .login__nav ul li:not(:last-child):after {
        content: '';
        position: absolute;
        top: 0;
        right: 5px;
        width: 1px;
        height: 14px;
        background: #ccc; }
    .login__nav ul li a {
      transition: all .5s; }
      .login__nav ul li a:hover {
        color: #fc8800; }
@media (max-width: 575px) {
  .login__page {
    padding: 40px 0 20px;
    flex-direction: column; }
    .login__page .el__box.-suggest {
      font-size: 11px; }
    .login__page .el__box.-register {
      padding: 15px 25px 12px; }
  .login__wrapper {
    max-width: 280px; }
  .login__form {
    padding: 30px 25px; }
    .login__form .-text {
      letter-spacing: 0; }
  .login__logo img {
    max-height: 74px; }
  .login__nav {
    position: relative;
    right: 0;
    bottom: 0;
    margin-top: 24px; }
    .login__nav.-fix {
      position: relative;
      bottom: 0;
      right: 0;
      width: 100%; } }

.singlefc__box {
  width: 100%;
  max-width: 290px;
  margin: 0 auto; }
  .singlefc__box .-text {
    font-size: 12px;
    font-weight: 500; }
  .singlefc__box__clgt {
    position: relative;
    padding: 14px 12px;
    background: rgba(252, 136, 0, 0.2);
    font-size: 14px;
    font-weight: 700; }
    .singlefc__box__clgt:before {
      content: "";
      width: 22px;
      height: 22px;
      border-top: 3px solid #FC8800;
      border-left: 3px solid #FC8800;
      position: absolute;
      top: -3px;
      left: -3px; }
    .singlefc__box__clgt:after {
      content: "";
      width: 22px;
      height: 22px;
      border-bottom: 3px solid #FC8800;
      border-right: 3px solid #FC8800;
      position: absolute;
      bottom: -3px;
      right: -3px; }
  .singlefc__box a {
    font-size: 14px;
    transition: all .5s; }
    .singlefc__box a i {
      position: relative;
      top: 1px;
      font-weight: 400;
      color: #fc8800; }
    .singlefc__box a:hover {
      color: #fc8800; }
.singlefc__list li {
  margin-bottom: var(--bs-gutter-x); }
.singlefc__list a {
  position: relative;
  display: block;
  padding: 30px 50px 30px 20px;
  background: #fff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  letter-spacing: 1px;
  box-shadow: 0 0 12px rgba(69, 76, 85, 0.16);
  transition: all .3s; }
  .singlefc__list a::after {
    content: "";
    -webkit-mask-image: url(../img/angle-right.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    background-size: 5px;
    background-position: center;
    display: inline-block;
    font-size: 6px;
    font-weight: 400;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
    color: #fc8800;
    position: absolute;
    top: calc(50% - 12px);
    border: 1px solid #fc8800;
    right: 18px;
    text-indent: 3px;
    transition: all .3s; }
  .singlefc__list a:hover {
    background: #fc8800;
    color: #fff; }
    .singlefc__list a:hover::after {
      border-color: #fff;
      color: #fc8800; }
.singlefc__logo {
  display: block;
  text-align: center; }
  .singlefc__logo img {
    width: auto;
    max-height: 185px; }
@media (max-width: 991px) {
  .singlefc__logo img {
    max-height: 125px; }
  .singlefc__box {
    margin-bottom: 50px; }
    .singlefc__box__clgt {
      max-width: 154px;
      margin: auto; } }

.home__registered__amount {
  font-size: 36px;
  line-height: normal;
  color: #fc8800; }
.home .-text-registered {
  font-size: 12px;
  color: #51A1B9; }
  .home .-text-registered i {
    margin-right: 10px; }

/*# sourceMappingURL=main.css.map */
