$color_primary:#fc8800;
$color_secondary:#51A1B9;
.-color-primary{color:$color_primary;}

//Default
ol, ul, dl{
    padding: 0;
}
body {
    font-family: 'YuGothic';
    color: #666666;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    position: relative;
    background: #F9F9F9;
    --menu-left: 260px;
    --menu-mb: 87px;
    &.-bg-white{
        background: #fff;
    }
}

a, a:hover {
    color: #4D4D4D;
    text-decoration: none;
    // transition: all 0.3s;
}
p{
    margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    line-height:normal;
}

ol, ul {
    list-style: none;
    margin-bottom: 0;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}
a {
    outline: none;
}
strong{
    font-weight: 700;
}
hr{
    margin: 25px 0;
    opacity: 1;
    background-color: #CCCCCC;
}
label{
    cursor: pointer;
}
input, select{
    &:focus{
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
    }
}
.table__btn{
    position: relative;
    min-width: 115px;
    padding: 8px 30px;
    background-color: #EFEFEF;
    border-radius: 7px;
    font-size: 14px;
    color: #666666;
    border: 0;
    transition: all .3s;
    i{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 14px;
    }
    &:hover{
        background-color:#fc8800;
        color: #fff;
    }
}

.icon-dots{
    display: inline-block;
    width: 23px;
    height: 6px;
    -webkit-mask-image: url(../img/3dots.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    background-color: #666666;
    &:before{
        display: none;
    }
}
.ic-maker-map{
    display: inline-block;
    width: 17px;
    height: 26px;
    background: url(../img/map-marker.svg);
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    position: relative;
    top: -3px;
}
.ic-duong{
    display: inline-block;
    width: 20px;
    height: 23px;
    -webkit-mask-image: url(../img/duong.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    pointer-events: none;
    background-color: #666666;
    position: relative;
    top: -2px;
}
.ic-search{
    display: inline-block;
    width: 14px;
    height: 15px!important;
    -webkit-mask-image: url(../img/search.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    background: #fff;
    pointer-events: none;
    position: relative;
    top: -2px;
}

.ic-plus-circle-white{
    display: inline-block;
    width: 22px;
    height: 22px!important;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    position: relative;
    top: -2px;
    &:before{
        content: '';
        position: absolute;
        top: calc( 50% - 4px);
        left: calc( 50% - 4px);
        width: 8px;
        height: 8px;
        -webkit-mask-image: url(../img/plus.svg);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        background: $color_primary;
    }
}



.checkbox__fake{display:block;position:relative;padding-left:20px;margin-bottom:12px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.checkbox__fake input{position:absolute;opacity:0;cursor:pointer;height:0;width:0}
.checkmark{position:absolute;top:0;left:0;height:16px;width:16px;background-color:#fff;border:1px solid #CCCCCC;border-radius:4px}
.checkbox__fake input:checked ~ .checkmark{background-color:#666666}
.checkmark:after{content:"";position:absolute;display:none}
.checkbox__fake input:checked ~ .checkmark:after{display:block}
.checkbox__fake .checkmark:after{left:5px;top:3px;width:4px;height:7px;border:solid white;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);border-radius:1px}

.checkbox__fake.js-checkbox-all .checkmark:after {
    transform: inherit;
    width: 8px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-width: 0 0px 2px 0;
}
.-letter-1{
    letter-spacing: 1px;
}.-letter-2{
    letter-spacing: 2px;
}
.rotate-180 {
    transform: rotate(180deg);
}
/**/
.videoWrapper{position:relative;padding-top:56.25%;/* 16:9 */height:0;}
.videoWrapper iframe,.videoWrapper object,.videoWrapper embed{position:absolute;top:0;left:0;width:100%;height:100%;}

/**/
.dnfix__thumb{
    position:relative;height:auto;width:100%;overflow:hidden;display:block;padding-top:68.075%;
    img{margin:0px auto;position:absolute;width:100%;height:100%;top:0;left:0;object-fit:cover;}
    &.-contain img{object-fit:contain;}
    &.-pt100{
        padding-top: 100%;
    }
}

/* Text truncate */
.text__truncate{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;display:-webkit-inline-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.text__truncate.-n2{-webkit-line-clamp:2;}
.text__truncate.-n3{-webkit-line-clamp:3;}
.text__truncate.-n4{-webkit-line-clamp:4;}

/**/
.btn{
    position:relative;
    min-width:190px;
    background: #FC8800;
    border-radius: 8px;
    border: 0;
    line-height: 24px;
    padding: 17px 30px;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 2px;
    transition:all .3s;
    border: 1px solid $color_primary;
    &:focus{
        box-shadow: none;
    }
    &:hover{
        color: #ffffff;
        box-shadow: 0 0 10px #fff;
        background: $color_secondary;
        border-color: $color_secondary;
    }
    &.-arrow-right{
        &::after {
            content: "\e900";
            font-family: 'icomoon';
            position: absolute;
            top: 17px;
            right: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 6px;
            font-weight: 400;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: #fff;
            color: #fc8800;
            text-align: center;
            line-height: 22px;
            text-indent: 3px;

        }
        &:hover{
            &::after {
                color: #51A1B9;
            }
        }
    }
    &.-brown{
        min-width: 300px;
        background: #F1F1F1;
        border-color: #F1F1F1;
        color: #909090;
        &.-no-ic{
            &:before{
                display: none;
            }
        }
        &:before{
            content: '';
            position: absolute;
            top: calc( 50% - 4px);
            left: 12px;
            width: 5px;
            height: 8px;
            background: url(../img/arrow-left.svg);
            background-repeat: no-repeat;
            background-size: contain;
            pointer-events: none;
            transition: all .5s;
        }
        &.-small{
            min-width: 180px;
            font-size: 12px;
            padding: 10px 30px;
        }
        &:hover{
            &::before {
              transform: translateX(-5px);
            }
        }
    }
    &.-plus{
        min-width: 300px;
        &.-small{
            min-width: 180px;
            padding: 10px 30px;
            &::after{
                right: 10px;
                width: 14px;
                height: 14px;
            }
        }
        &::after {
            content: "";
            display: inline-block;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 18px;
            background-image: url(../img/plus-circle-white.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
        &:hover{
            &::after {

            }
        }
    }
    &.-secondary{
        min-width: 300px;
        font-weight: 500;
        border: 1px solid $color_primary;
        background: transparent;
        color: $color_primary;
        &:hover{
            background: $color_primary;
            color: #fff;
        }
    }
    &.-three{
        min-width: 300px;
        font-weight: 500;
        border: 1px solid #F1F1F1;
        background: #F1F1F1;
        color: #909090;
        &:hover{
            background: #666666;
            color: #fff;
        }
    }
    &.-s2{
        font-size: 12px;
        font-weight: 700;
        padding: 11px 20px 11px 40px;
        min-width: 200px;
        border: 1px solid transparent;
        background: transparent;
        color: #51A1B9;
        border-radius: 24px;
        box-shadow: 0 0 12px rgba(69, 76, 85, .16%);
        &.-center{
            padding: 11px 20px;
            i{
                position: relative;
                left: 0;
                font-size: 12px;
            }
        }
        &.-mask{
            &:hover{
                i{
                    background-color: #fff;
                }
            }
            i{
                background-color: $color_primary;
            }
            .ic-duong {
                left: 20px;
                width: 16px;
                height: 19px;
            }
        }
        i{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 17px;
            font-size: 18px;
            color: $color_primary;
        }
        &:hover{
            background: $color_primary;
            color: #fff;
            i{
                color: #fff;
            }
        }
        &.-modal{
            color: #666;
            &::before{
                content: "\e900";
                font-family: 'icomoon';
                position: absolute;
                left: 15px;
                font-size: 6px;
                color: $color_primary;
            }
            &:hover{
                color: #fff;
                &::before{
                    color: #fff;
                }
            }
        }
    }
    @media (max-width: 1199px){

    }
    @media (max-width: 575px){
        min-width: 100%;
        padding: 16px 30px;
        &.-plus, &.-secondary{
            min-width: 100%;
            font-size: 14px;
        }
        &.-plus::after {
            right: 15px;
        }
        &.-s2{
            width: 100%;

            &.-modal {
                width: 200px;
                height: 54px;
            }
        }
    }
}

.alert{
    border: 2px solid transparent;
    border-radius: 0;
    &.alert-danger {
        border-color: #FC8800;
        background: #FFF9EF;
        color: #FC8800;
        li{
            position: relative;
            padding-left: 35px;
            + li{
                margin-top: 4px;
            }
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                background: url(../img/exclamation-triangle.svg);
                background-repeat: no-repeat;
                background-size: contain;
                pointer-events: none;
            }
        }
    }
}

.vr {
    height: 36px;
    margin: 0 15px;
}
.w100{
    width: 100%;
}
.flex-w100{
    width: calc(100% - 100px);
}
.mw70px{
    width: 100%;
    max-width: 70px;
}
.mw90px{
    width: 100%;
    max-width: 90px;
}
.mw100px{
    width: 100%;
    max-width: 100px;
}
.mw150px{
    width: 100%;
    max-width: 150px;
}
.mw170px{
    width: 100%;
    max-width: 170px;
}
.mw240px{
    width: 100%;
    max-width: 240px;
}
.mw310px{
    width: 100%;
    max-width: 310px;
}
.minw100px{
    min-width: 100px;
}
.minw170px{
    min-width: 170px;
}
.w120px{
    flex: 0 0 auto;
    width: 120px;
}
.w130px{
    flex: 0 0 auto;
    width: 130px;
}
.w280px{
    flex: 0 0 auto;
    width: 280px;
}

.col-20{
    flex: 0 0 auto;
    width: 20%;
}

@media (max-width: 1199px){
    body {
        --header-height: 60px;
    }
}
@media (max-width: 575px){
    .mw100px, .mw150px, .flex-w100{
        width: 100%;
        max-width: 100%;
    }

    .w120px{
        flex: 0 0 auto;
        width: auto;
    }
    .w280px{
        flex: 0 0 auto;
        width: auto;
    }
}
.container{
    padding-right: var(--bs-gutter-x, 35px);
    padding-left: var(--bs-gutter-x, 35px);
}
@media (min-width: 576px){
    .col-sm-20 {
        flex: 0 0 auto;
        width: 20%;
    }
    .col-sm-80{
        flex: 0 0 auto;
        width: 80%;
    }
}

@media (min-width: 768px){
    .col-md-20 {
        flex: 0 0 auto;
        width: 20%;
    }
    .col-md-80{
        flex: 0 0 auto;
        width: 80%;
    }
}
@media (min-width: 992px){
    .col-lg-20 {
        flex: 0 0 auto;
        width: 20%;
    }
    .col-lg-80{
        flex: 0 0 auto;
        width: 80%;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1194px;
    }

    .modal-lg, .modal-xl {
        max-width: 960px;
    }
}

