.b__links{
    color: #51A1B9;
    i{
        color:$color_primary;
    }
    &:hover{
        u{
            text-decoration: inherit;
        }
    }
}
.el__input{
    font-size: 12px;
    padding: 7px 10px;
    border-radius: 7px;
    border: 1px solid #CCCCCC;
    &.-small{
        padding: 4px 10px;
    }
}

/*Menu Left*/
.menuLeft{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--menu-left);
    background: #fff;
    box-shadow: 0 0 12px rgba(69, 76, 85, .16);
    border-radius: 0px 10px 10px 0;
    &__header{
        padding:60px 60px 100px;
        text-align: center;
    }
    &__avatar{
        width: 80px;
        padding-top: 80px;
        border-radius: 50%;
        margin: 0 auto 12px;
    }
    &__username{
        font-size: 10px;
    }
    &__footer{
        padding-bottom: 24px;
    }
    &__logo{
        display: block;
        margin-bottom: 24px;
        img{
            width: auto;
            max-height: 70px;
        }
    }
    @media (max-width: 1199px){
        display: none;
    }
}

.sc__content{
    flex: 0 0 auto;
    margin-left: var(--menu-left);
    width: calc( 100% - var(--menu-left));
    padding: 57px 70px;
    @media (max-width: 1199px){
        &.-modal-step{
            padding: 50px 58px var(--menu-mb);
        }
    }
    @media (max-width: 575px){

        &.-modal-step{
            padding: 35px 58px var(--menu-mb);
        }
    }
    @media (min-width: 1200px){
        &.-modal-step{
            .sc__box__header{
            }
            .bmodal__list{
                padding-left: 36px;
                margin-right: 20px;
                height: 485px;
                overflow: auto;
                &::-webkit-scrollbar {
                    width: 4px;
                }
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }
                &::-webkit-scrollbar-thumb {
                    background: $color_primary;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }
            }
        }
    }

}
.sc__box{
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(69, 76, 85, .16%);
    margin-bottom: var(--bs-gutter-x);
    &.-table-home{
        .sc__box__content{
            padding: 34px 30px;
        }
    }
    &__header{
        padding: 30px 36px;
        + hr{
            background-color: #F1F1F1;
        }
    }
    &__title{
        margin-bottom: 0;
        i{
            margin-right: 10px;
        }
    }
    &__content{
        padding: 30px;
        h6{
            font-size: 16px;
            margin-bottom: 0;
        }
    }
    &__icon{
        width: 82px;
        height: 82px;
        line-height: 90px;
        margin: 0 auto 22px;
        background: #F1F1F1;
        border-radius: 50%;
        font-size: 37px;
        text-align: center;
    }

	&.-userinfo{
		font-size: 12px;
        .el__header{
            margin-bottom: 26px;
        }
		.sc__box__content{
			padding: 50px 50px 26px;
		}
        
		a{
			color: #51A1B9;
			text-decoration: underline;
		}
		ul{}
		li{
			padding: 24px 0;
            align-items: center;
			&:not(:last-child){
				border-bottom: 1px solid #DDDDDD;
			}
            &.-avatar{
                padding: 8px 0;
            }
		}
		.sc__box__avatar{
			img{
				width: 48px;
				height: 48px;
			}
		}
		.table{
            font-size: 10px;
            thead{
                background-color: #F9F9F9;
                th{
                    padding: 8px 16px;
                    border: 0;
                    color: #666666;
                }
            }
            >thead .sorting:before, >thead .sorting:after{
                display: none;
            }
          
            >:not(caption)>*>* {
                padding: 15px 5px;
            }
        }
        .form-check-input{
            margin-left: 0;
            width: 40px;
            height: 20px;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28102, 102, 102, 1%29'/%3e%3c/svg%3e");
            &:checked {
                background-color: #fc8800;
                border-color: #fc8800;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
            }
        }
	}

    &.-list{
        padding-bottom: 30px;
        .table-wrapper {
            height: 430px;
            overflow-y: auto;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 4px;
            }
            &::-webkit-scrollbar-track {
                background: #f1f1f1; 
            }
            &::-webkit-scrollbar-thumb {
                background: $color_primary; 
            }
            &::-webkit-scrollbar-thumb:hover {
                background: #555; 
            }
        }
        .dataTables_wrapper {
            .row {
                --bs-gutter-x: 0;
            }
        }
        .table{
            margin-bottom: 0;
            color: #666666;
            > :not(caption) > * > *{
                padding: 14px 10px;
                font-weight: 400;
                color: #666666;
            }
            .table__actiion{
                opacity: 0;
                transition: all .2s;
                .dropdown-toggle{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 28px;
                    height: 28px;
                    background-color: #fff;
                    border-radius: 50%;
                    text-align: center;
                    box-shadow: 0 0 6px rgba(0, 0, 0, .16);
                    i{
                        width: 13px;
                    }
                    &::after {
                      display: none;
                    }
                }
                .dropdown-menu {
                    font-size: 14px;
                    min-width: 110px;
                }
                .dropdown-item {
                    padding: 0.25rem 22px;
                }
            }

            .sorting:before, .sorting:after{
                display: none;
            }

            th{
                border-top: 1px solid #CCCCCC;
            }
            input[type=checkbox]{
                font-size: 14px;
                margin-top: 0;
            }
            th{
                border-color: #CCCCCC;
                font-size: 10px;
                color: #666666;
                font-weight: 500;
                &:first-child{
                    padding-left: 30px;
                }
            }
            td{
                &:first-child{
                    padding-left: 30px;
                }
                &:last-child{
                    // padding-right: 100px;
                }
            }
            tbody{

                tr:hover{
                    background: #FFF9EF;
                    --bs-table-bg : #FFF9EF;
                    --bs-table-accent-bg : #FFF9EF;
                    .table__actiion{
                        opacity: 1;
                    }
                }
                tr.row-acitve{
                    background: #FFF0D8;
                    --bs-table-bg : #FFF0D8;
                    --bs-table-accent-bg : #FFF0D8;
                }
            }
        }
    }

}


table{
    thead{
        th {
            background: transparent !important;
            white-space: nowrap;
        }
        span.sort-icon {
            position: relative;
            display: inline-block;
            padding-left: 9px;
            width: 16px;
            height: 20px;
            line-height: 17px;
        }
        .sorting span:before, .sorting span:after {
            content: "";
            position: absolute;
            top: 4px;
            -webkit-mask-image: url(../img/arrow-up.svg);
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: 100% 100%;
            background-color: #707070;
            width: 7px;
            height: 5px;
        }
        .sorting span:after {
            -webkit-mask-image: url(../img/arrow-down.svg);
            top: 10px;
        }
        .sorting_desc span:after {
            top: 7px;
        }
        .sorting_asc span::before{
            top: 7px;
        }
        .sorting_asc span:after,.sorting_desc span:before {
            opacity: 0;
        }
        .sorting_asc_disabled span:before, .sorting_desc_disabled span:after {
            opacity: 0;
        }
    }
}

.table{
    --bs-table-striped-bg: #F9F9F9;
    margin: 0;
    > :not(caption) > * > *{
        padding:15px 30px;
    }
    &.dataTable{
        margin: 0!important;
    }
    &.-fixedHeader > thead {
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 1;
    }

    &.table-striped {
        border-color: transparent;
    }
    td{
        vertical-align: middle;
    }
    .el__cat{
        display: inline-block;
        min-height: 24px;
        padding: 0px 18px;
        font-size: 14px;
        border: 1px solid $color_primary;
        border-radius: 13px;
        color: $color_primary;
        transition: all .5s;
        &:hover{
            background: $color_primary;
            color: #fff;
        }
    }
    &.-home{
        td{
            &:first-child{
                width: 110px;
            }
        }
    }
    &.-st2{
        font-size: 12px;
        border-radius: 7px;
        border: 1px solid #CCCCCC;
        
        > :not(:last-child) > :last-child > * {
            border-bottom-color: #ccc;
        }
        thead{
            font-size: 10px;
            background: #F9F9F9;
        }
    }

    // &.-st3{
    //     font-size: 12px;
    //     font-weight: 500;
    //     color: #666666;
    //     th{
    //         font-weight: 500;
    //         i{
    //             position: relative;
    //             top: -2px;
    //             font-size: 5px;
    //             font-weight: 400;
    //         }
    //     }
    //     th, td{
    //         &:first-child{
    //             padding-left: 0;
    //         }
    //         &:last-child{
    //             padding-right: 0;
    //             text-align: right;
    //         }
    //     }
    // }
}

.box__toggle{
    font-size: 12px;
    font-weight: 500;
    color: #666666;
    &.active{
        i{
            transform: rotate(180deg);
        }
    }
    &__header{
        cursor: pointer;
        font-weight: 500;
        border-bottom: 2px solid #707070;
        >div{
            padding: 15px 2px;
        }
        i{
            position: relative;
            top: -2px;
            font-size: 5px;
            font-weight: 400;
            transition: all .5s;
            &.icon-arrow-up{
                &:before{
                    content: '';
                    width: 10px;
                    height: 6px;
                    background: url(../img/arrow-up.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: inline-block;
                }
            }
        }
    }
    ul{}
    li{
        min-height: 52px;
        padding: 15px 2px;
        border-bottom: 1px solid #CCCCCC;
        div + div{
            font-size: 14px;
        }
    }
}

.table__fake{
    border: 1px solid #cccc;
    border-radius: 7px;
    min-height: 175px;
    overflow: hidden;
    &__header{
        padding: 0 25px;
        font-size: 10px;
        background: #F9F9F9;
        border-bottom: 1px solid #d6d6d6;
    }
    &__content{
        padding: 0 25px;
    }
    &__th{
        padding: 14px 0;    
    }
    &__tr{
        padding: 14px 0;
        border-bottom: 1px solid #ccc;
    }
    &.-modal{
        min-height: 265px;
        font-size: 12px;
        .table__fake__header{
            border-bottom: 1px solid #CCCCCC;
        }
        .table__fake__header, .table__fake__content {
            padding: 0;
        }
        .table__fake__td{
            padding: 0 15px;
        }

        .checkbox__fake{
            height: 14px;
            padding-left: 20px;
        }
        .checkbox__fake .checkmark::after {
            left: 4px;
            top: 1px;
            width: 4px;
            height: 8px;
        }
        .checkmark {
            height: 14px;
            width: 14px;
        }
        
    }
}
.modal-s1{
    .modal-dialog {
        // padding-bottom: 80px;
    }
    .modal-content {
        border-radius: 8px;
            overflow: hidden;
    }
    .modal-header {
        padding: 27px 35px;
    }
    .modal-body {
        min-height: 485px;
        padding: 45px 35px;
        .-col-left{
            border-right: 1px solid #F1F1F1;
        }
    }
    
    .btn-close {
        
        &.-fix{
            position: absolute;
            bottom: -70px;
            left: -80px;
            background: transparent;
            min-width: 60px;
            background: #FFFFFF;
            z-index: 998;
            color: #000;
            opacity: 1;
            border-radius: 32px;
            padding: 0;
            font-size: 10px;
            font-weight: 700;
            height: 32px;
            &::before{
                content: "\e900";
                font-family: icomoon;
                font-size: 5px;
                font-weight: 400;
                position: absolute;
                top: -2px;
                left: 10px;
                transform: rotate(180deg);
                line-height: 32px;
            }
        }
        
    }
}

.modal__picture{
    position: relative;
    padding-top: 85%;
    border-radius: 7px;
    overflow: hidden;
    font-size: 12px;
    &__content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.block__action{
    display: flex;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    li{
        &:not(:last-child){
            margin-right: 30px;
        }
        a{
            transition: all .5s;
        }
        &:hover{
            a{
                color: $color_primary;
            }
            i{
                transform: translateY(-8px);
            }
        }
    }
    i{
        display: block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        background-color: #fff;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 500;
        color: $color_primary;
        margin-bottom: 6px;
        box-shadow: 0 0 12px rgba(69, 76, 85, .16);
        transition: all .5s;
    }
}
.block__bukkenfix{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    z-index: 10;
    li{
        
        &:not(:last-child){
            margin-right: 30px;
        }
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            font-size: 10px;
            background-color: $color_primary;
            color: #fff;
            transition: all .5s;
            border-radius: 50%;
            box-shadow: 0 0 12px rgba(69, 76, 85, .16);
        }
        &:hover{
            a{
                transform: translateY(-8px);
                color: #fff;
            }
            
        }
    }
    i{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 6px;
    }
}
.mb__bukkenfix {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 998;
    border-radius: 10px;
    overflow: hidden;
    a, button{
        position: relative;
        font-size: 14px;
        font-weight: 700;
        display: block;
        width: 100%;
        padding: 25px 34px;
        text-align: center;
        border: 0;
        background-color: #fff;
        &.active{
            i:before{
                background-color:$color_primary;
            }
        }
    }
    i{
        position: absolute;
        left: 25px;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .-right{
        a, button{
            background-color: $color_primary;
            color: #fff;
        }
        
    }
    &.-modal{
        .-right{
            a, button{
                background-color: #CCCCCC;
                color: #fff;
                &.active{
                    background: $color_primary;
                }
            }


        }
    }
    &.-table-edit{
        bottom: -100px;
        transition: all .3s;
        i{
            left: 30px;
            font-size: 28px;
        }
        a, button{
            padding: 32.5px 55px;
        }
        &.active{
            bottom: 0;
            + .nav__mobile{
                opacity: 0;
            }
        }
    }
    .ic-plus-circle-white{

        left: auto;
        right: 25px;
        top: calc(50% - 11px);

        &:before{
            background-color: #CCCCCC;
        }
    }
    .ic-search{
        top: calc(50% - 7px);
    }
}
/**/
select{
    display: inline-block;
    padding: 8px 40px 8px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: url(../img/arrow-updown.svg) no-repeat right white;
    background-position-x: calc( 100% - 10px );
}

.accordion{
    hr{
        background-color: #F1F1F1;
    }
    &-body {
        padding: 1rem 1.25rem;
        padding: 22px 28px 60px;
    }
    &-item{
        &:first-of-type{
            border-width: 1px 0;
            border-radius: 0;
            border-color: #F1F1F1;
        }
    }
    &-button{
        background-color: #FFF9EF;
        color: #666666;
        font-size: 18px;
        font-weight: 500;
        padding: 28px 28px 28px 50px;
        box-shadow: inset 0 -1px 0 #F1F1F1;
        &::after{
            content: "\e905";
            font-family: 'icomoon';
            font-size: 10px;
            line-height: 20px;
            color: $color_primary;
            background: none;
        }
        &::before{
            content: "";
            width: 2px;
            height: 24px;
            background: #fc8800;
            position: absolute;
            top: calc( 50% - 12px );
            left: 28px;
        }
        &:not(.collapsed) {
            background-color: #FFF9EF;
            color: #666666;
            &::after{
                background: none;
            }
        }
    }
    .el__label {
        margin-top: 12px;
        // margin-bottom: 28px;
    }
    .m2__line{
        padding-bottom: 5px;
        border-bottom: 2px solid #707070;
        &__amount{
            font-weight: 700;
            margin-right: 2px;
        }
    }

    .checkbox__list{
        li{
            &:not(:last-child){
                margin-right: 30px;
            }
        }
    }
    .media__thumb{
        .dnfix__thumb{
            padding-top: 73.075%;
        }
    }
    .clone__wrap{
        &__scroll{
            max-height: 340px;
            overflow: auto;

            &::-webkit-scrollbar {
              width: 4px;
            }

            &::-webkit-scrollbar-track {
              background: #EFEFEF;
            }

            &::-webkit-scrollbar-thumb {
              background: #FC8800;
            }

            &::-webkit-scrollbar-thumb:hover {
              background: #FC8800;
            }
        }
        .el__clone{
            display: flex;
            padding: 30px 0;
            border-bottom: 1px solid #F1F1F1;
            &:first-child{
                padding-top: 0;
            }
            &--plus, &--remove{
                min-width: 100px;
                padding: 7px 20px;
                border-radius: 7px;
                color: #fff;
                border: 0;
            }
            &--plus{
                background-color: #FC8800;
            }
            &--remove{
                background-color: #666666;
            }
        }
        &--plus{
            color: $color_secondary;
            text-decoration: underline;
        }
    }

    &.-detail{
        .el__label{
            margin-top: 0;
        }

        .box__toggle.active{
            .box__toggle__header {
                border-color: #fff;
            }
        }
        .box__toggle__header {
            border-bottom: 1px solid #F1F1F1;
        }
        .box__toggle li{
            border-bottom: 1px solid #F1F1F1;
            &:last-child{
                border-bottom: 0;
            }
        }


    }
}


@media (max-width: 1199px){
    .sc__content {
        margin-left: 0;
        width: 100%;
        padding: 50px 30px var(--menu-mb);
        &.-modal-step{
            .sc__box__header{
                padding-left: 0;
            }
            .bmodal__list{
                padding-left: 0;
            }
        }
    }
    .sc__box__content {
        padding: 30px 25px;
    }
    .block__action{
        padding-bottom: 30px;
    }
}
@media (max-width: 991px){
    .sc__box.-list{
        .table{
            th,td{
                &:nth-child(7),&:nth-child(8),&:nth-child(9){
                    display: none;
                }
            }
            td{
                &:last-child {
                    padding-right: 10px;
                }
            }
        }
    }
    .el__label {
        margin-bottom: 28px;
    }
    .accordion.-detail .el__label {
        margin-bottom: 0;
    }
}
@media (max-width: 767px){
    .sc__box.-list{
        .table{
            th,td{
                &:nth-child(5), &:nth-child(6){
                    display: none;
                }
            }
        }
    }
    .el__input {
        width: 100%;
        height: 48px;
    }

    .accordion{
        select{
            width: 100%;
            height: 48px;
            &.mw170px{
                width: 100%;
                max-width: 100%;
            }
        }
        .clone__wrap{
            .el__clone{
                display: block;
            }
            .el__clone--plus, .el__clone--remove {
                width: 49%;
                height: 42px;
            }
        }
    }
    .modal-s1{
        .modal-header {
            padding: 20px 24px;
        }
        .modal-title{
            font-size: 20px;
        }
        .modal-body{
            padding: 20px 24px 40px;
        }

    }
    .steps li:not(:last-child) {
      margin-right: 20px;
    }
}
@media (max-width: 575px){
    .sc__content {
        padding: 35px 30px var(--menu-mb);
    }
    .sc__box{
        &.-userinfo{
            .sc__box__content {
                padding: 40px 35px 26px;
            }
            .el__header {
                margin-bottom: 10px;
            }
            .el__label{
                text-align: center;
                padding: 13px 15px;
                background-color: #F9F9F9;
                margin-bottom: 16px;
            }
            li{
                padding: 16px 0;
                &:not(:last-child){
                    border-bottom: 0;
                }
            }
        }
        &.-list{
            .sc__box__header {
                padding: 20px 14px;
            }
            .table{
                th:first-child, td:first-child {
                    padding-left: 14px;
                }
                >:not(caption)>*>* {
                    padding: 14px 8px;
                }
            }
        }

        &__icon {
            width: 60px;
            height: 60px;
            line-height: 70px;
            font-size: 28px;
            margin: 0 auto 15px;
        }
        &__header {
            padding: 20px 28px;
        }
        &__content{
            padding: 30px 20px 20px;
            h6 {
                font-size: 18px;
            }
        }
    }
    
    .table {
        font-size: 12px;
        &.-home td:first-child {
            width: auto;
        }
        >:not(caption)>*>* {
            padding: 15px 10px;
        }
        .el__cat {
            display: inline-block;
            padding: 3px 10px;
            font-size: 12px;
        }
    }
    .checkbox__fake {
        height: 14px;
        display: flex;
        align-items: center;
        padding-left: 15px;
        margin-bottom: 0;
        .checkmark::after {
            left: 4px;
            top: 1px;
            width: 4px;
            height: 8px;
        }
    }
    .checkmark {
        height: 14px;
        width: 14px;
      }

    .table__fake{
        &.-modal {
            min-height: 245px;
        }
        .icon-trash {
            position: relative;
            top: -2px;
            font-size: 18px;
            font-weight: 400;
        }
        
    }
    .accordion{
        font-size: 12px;
        &.-detail{
            .el__label {
                background: #F1F0F1;
                padding: 12px;
                text-align: center;
                margin-bottom: 8px;
                &.-s2{
                    background: #F9F9F9;
                }
            }
            .el__value{
                text-align: center;
                margin-bottom: 24px;
            }
            ul.box__toggle__content {
                background: #F9F9F9;
                padding: 0 20px;
            }
            .box__toggle li:last-child {
                border-bottom: 0;
            }
            .clone__wrap__scroll {
                background: #F9F9F9;
                padding: 20px;
            }
        }

    }
    .el__input {
        width: 100%;
        &.mw70px{
            max-width: 100%;
        }
        &.-small {
            max-width: 100%;
        }
    }
    .modal-s1{
        .modal-dialog {
            max-width: 100%;
            padding: 1.5rem;
        }
        .modal-header {
            padding: 20px 12px;
        }
    }
    .mb__bukkenfix{
        i {
          left: 20px;
        }
    }
}
/*Custom boostrap*/
@media (max-width: 575px){
    .input-group-lg > .form-control, .input-group-lg > .form-select, .input-group-lg > .input-group-text, .input-group-lg > .btn {
        padding: 0.3rem 1rem;
    }
}