/*
======================================
[ Main menu ]
======================================
*/
.main__nav{
    position:relative;
    z-index:99;
    ul{
        list-style:none;
        padding:0
        ;margin:0;
    }
    a{
        position: relative;
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        padding: 4px 60px;
        text-transform: uppercase;
        color: #666666;
        letter-spacing: 1px;
        transition: color 0.3s;
    }
    i{
        width: 20px;
        font-weight: 400;
        margin-right: 20px;
    }
    .el__menu{
        padding:0;
        &>li{
            display:block;
            margin-bottom: 45px;
            >a{
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 2px;
                    height: 30px;
                    background:$color_primary;
                    opacity: 0;
                    transition: all .5s;
                }
            }
        }

        &>li:hover a, &>li.active a{
            color:$color_primary;
        }
        &>li.active a{
            font-weight: 700;
        }
        &>li:hover>a:after, &>li.active>a:after{
            opacity: 1;
        }
    }
    @media (max-width: 1199px){
        .el__menu>li {
            display: block;
            margin-bottom: 30px;
        }
    }

}

/*Menu MB*/
.nav__mobile{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background:#fff;
    z-index: 997;
    &--ul{
        display: flex;
        justify-content: space-around;
        list-style:none;
        li{
            position:relative;
            a{
                display: block;
                position: relative;
                font-size: 10px;
                line-height: normal;
                text-transform: uppercase;
                color: #666666;
                padding: 20px 16px;
                text-align: center;
                transition: all .3s;
                i{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 24px;
                    font-size: 24px;
                    margin-bottom: 8px;
                    font-weight: 400;
                    text-align: center;
                    margin: 0 auto 8px;
                    &.icon-dots {
                        font-size: 6px;
                    }
                }
                &:hover{
                    color:$color_primary;
                }
            }
            &.active, &.current-menu-item, &.current_page_item, &:hover{
                &>a{
                    color: $color_primary;
                }
                .icon-dots{
                    background-color: $color_primary;
                }
            }
        }
    }
    @media (min-width: 1199px){
        display: none;
    }
}